body {
	margin: 0px;
}

.jumbotron {
	background-image: url("top_en.png");
	background-size: cover;
	height: 500px;
	color: #fff;
}

.navbar-custom {
	background-color: #222229;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #e2e2df;
}

.footer {
	line-height: 50px;
	margin-bottom: 0;
}